table {
    width: 50%;
}

body {
    padding: 50px 200px;
}

@media(max-width:800px) {
    body {
        padding: 20px 50px;
    }
}

@media(max-width:600px) {
    body {
        padding: 20px 0px;
    }
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}