table {
    width: 50%;
}

body {
    padding: 50px 200px;
}

@media(max-width:800px) {
    body {
        padding: 20px 50px;
    }
}

@media(max-width:600px) {
    body {
        padding: 20px 0px;
    }
}